# Handling duplicated data

In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
con=sqlite3.connect("F:\\Data Science\\4Python Programming\\datasets\\amazon fine food reviews\\database.sqlite")

In [3]:
filtered_data=pd.read_sql_query("""
SELECT * 
FROM Reviews
WHERE Score !=3
""",con)

In [5]:
filtered_data.tail()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
525809,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
525810,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
525811,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
525812,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
525813,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

In [6]:
def partition(x):
    if x>3:
        return "positive"
    return "negative"

In [7]:
actual_score=filtered_data['Score']
positiveNegative=actual_score.map(partition)
filtered_data['Score']= positiveNegative

In [11]:
print(filtered_data.shape)
filtered_data.head(3)

(525814, 10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,positive,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,negative,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,positive,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...

In [9]:
sorted_data=filtered_data.sort_values('ProductId',axis=0,ascending=True)

In [10]:
final=sorted_data.drop_duplicates(subset={'UserId','ProfileName','Time','Text'},keep='first',inplace=False)
final.shape

(364173, 10)

In [14]:
print("The columns before removing the duplicate values is : {}  ".format(filtered_data.shape[0]))
print("The columns after removing the duplicate values is  : {}  ".format(final.shape[0]))

The columns before removing the duplicate values is : 525814
The columns after removing the duplicate values is  : 364173

In [17]:
print("The percentage of the without duplicate data is :",(final['Id'].size*1.0)/(filtered_data['Id'].size*1.0)*100)

The percentage of the without duplicate data is : 69.25890143662969